// animation: rotate 0.5s linear infinite;

/* Вращение по кругу */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blick {
  0% {
    transform: translate(-100%, -50%) skewX(-20deg);
  }
  30%,
  100% {
    transform: translate(100%, -50%) skewX(-20deg);
  }
}

//Scroll Down
@keyframes scrollDown {
  0%,
  100% {
    transform: translateY(0px) scaleX(1);
  }
  50% {
    transform: translateY(16px) scaleX(0.7);
  }
}

@keyframes upDown {
  0%,
  100% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(0%, -5%);
  }
}

@keyframes upDownRotateLeft {
  0%,
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }

  50% {
    transform: translate(0%, -2%) rotate(-2deg);
  }
}

@keyframes upDownRotateRight {
  0%,
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }

  50% {
    transform: translate(0%, -15%) rotate(30deg);
  }
}

@keyframes upDownRotate {
  0%,
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }

  50% {
    transform: translate(0%, -15%) rotate(-10deg);
  }
}
