.buttons {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.button {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  min-width: 46px;
  min-height: 46px;
  border-radius: 46px;
  gap: 5px;
  background: var(--blue);
  cursor: pointer;
  pointer-events: all;
  opacity: 1;
  padding: 0;
  margin: 0;
  will-change: transform;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    transition: transform 0.6s ease-out 0s;
    z-index: 0;
    border-radius: 4px;
    background: var(--white);
    padding: 0;
    margin: 0;
    border: 0;
    will-change: transform;

    pointer-events: none;
    user-select: none;
  }

  &:before {
    transform: translate(-100%, 0%);
  }

  &:after {
    transform: translate(100%, 0%);
  }

  @media (hover: hover) {
    &:hover {
      &:before {
        transform: translate(0%, 0%);
      }
      &:after {
        transform: translate(0%, 0%);
      }
      span {
        color: var(--black);
      }
    }
  }

  img,
  svg {
    z-index: 2;
  }

  span {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 3;
    font-family: var(--semi);
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: var(--white);
    pointer-events: none;
    transition: color 0.6s ease-out 0s;
    text-transform: uppercase;
    padding: 5px 18px;
    border: 0;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100px;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--white), rgba(0, 0, 0, 0));
      left: 0px;
      top: 50%;
      opacity: 0.8;
      animation: blick 4s ease-in-out infinite;
      pointer-events: none;
    }
  }

  &:disabled {
    cursor: auto;
    pointer-events: none;
    opacity: 0.3;
  }

  &.full {
    width: 100%;
  }

  &.button--green {
    background: var(--green);
  }

  &.big {
    min-height: 70px;
    span {
      font-size: 24px;
      font-weight: 400;
    }
  }
}

.scroll-down {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  margin-top: 20px;
  animation: scrollDown 2s ease-in-out infinite;
  z-index: 2;

  img,
  svg {
    pointer-events: none;
  }
}
