.footer {
  display: block;
  position: relative;
  height: auto;
  min-height: 180px;
  z-index: 1;
  padding: 20px 0px;
  background: var(--white);
  flex-shrink: 0;

  .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 30px;
  }

  p,
  a {
    font-size: 18px;
  }
}

.copy {
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
  a {
    display: inline;
    flex-shrink: 0;
  }
}

.footer-nav {
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  max-width: 370px;
  gap: 5px;
}

.link {
  display: inline-block;
  cursor: pointer;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--black);
    position: absolute;
    top: 100%;
    left: 0px;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.3s;
  }

  @media (hover: hover) {
    &:hover {
      &:before {
        transform-origin: left center;
        transform: scaleX(1);
      }
    }
  }
}

@media (max-width: 666px) {
  .footer {
    padding: 50px 0px;
    .container {
      flex-direction: column;
      justify-content: center;
    }
  }

  .copy {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-nav {
    align-items: center;
    gap: 10px;
    a {
      font-size: 14px;
    }
  }
}
