.footer {
  display: block;
  position: relative;
  z-index: 1;
  padding: 80px 0px;
  background: var(--white);
  &.footer--mini {
    padding: 50px 0px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 30px;
  }

  p,
  a {
    font-size: 18px;
  }
}

@media (max-width: 666px) {
  .footer {
    padding: 50px 0px;
    .container {
      flex-direction: column;
      justify-content: center;
    }
    p,
    a {
      text-align: center;
      max-width: 244px;
    }
  }
}

.link {
  display: inline-block;
  cursor: pointer;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--black);
    position: absolute;
    top: 100%;
    left: 0px;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.3s;
  }

  @media (hover: hover) {
    &:hover {
      &:before {
        transform-origin: left center;
        transform: scaleX(1);
      }
    }
  }
}
