.burger {
  display: none;
}

.header {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 65px;
  z-index: 20;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);

  .container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
  }
}

.logo {
  position: absolute;
  height: 65px;
  z-index: 2;
  img {
    pointer-events: none;
  }
}

.navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.menu {
  display: inline-flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 32px;

  li {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 32px;

    &.header__phones {
      margin-left: auto;
      @media (max-width: 1023px) {
        margin-left: 0px;
        margin-top: auto;
        flex-direction: column;
        .menu__link {
          font-size: 18px;
          line-height: 1;
        }
      }
    }
    .menu__link {
      display: block;
      cursor: pointer;
      font-size: 16px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: var(--black);
        position: absolute;
        top: 100%;
        left: 0px;
        transform: scaleX(0);
        transform-origin: right center;
        transition: transform 0.3s;
      }

      @media (hover: hover) {
        &:hover {
          &:before {
            transform-origin: left center;
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

/* MOBIL VERSION*/
@media (max-width: 1023px) {
  .header .container {
    justify-content: space-between;
    max-width: 100%;
    padding: 0px 24px;
  }

  .logo {
    position: relative;
  }

  .burger {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24px;
    height: 24px;
    font-size: 0px;
    z-index: 2;
    span,
    &:before,
    &:after {
      position: absolute;
      height: 2px;
      border-radius: 1px;
      background: var(--black);
      transition: 0.6s;
      opacity: 1;
      z-index: 1;
    }

    &:before,
    &:after {
      content: '';
    }

    span {
      width: 16px;
      transform: translate(0px, 0px);
    }
    &:before {
      width: 22px;
      transform: translate(0px, -6px) rotate(0deg);
    }
    &:after {
      width: 10px;
      transform: translate(0px, 6px) rotate(0deg);
    }

    &.open {
      span {
        transform: translate(10px, 0px);
        opacity: 0;
      }
      &:before {
        transform: translate(0px, 0px) rotate(45deg);
      }
      &:after {
        width: 22px;
        transform: translate(0px, 0px) rotate(-45deg);
      }
    }
  }

  .navigation {
    position: fixed;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    top: 0px;
    right: 0px;
    background: var(--white);
    transition: opacity 0.4s ease-in-out 0.3s;

    padding: 0px;
    z-index: 0;
    opacity: 0;
    pointer-events: none;

    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      display: none;
    }
    &.open {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.4s ease-in-out 0s;
      .menu {
        transform: translate(0%, 0%);
      }
    }
  }

  .menu {
    z-index: 2;
    padding: 65px 30px 40px 30px;
    transform: translate(0%, 100%);
    width: 100%;
    max-width: 768px;
    min-height: 100svh;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
    transition: 0.6s;
    li {
      &:first-child {
        margin-top: auto;
      }
      .menu__link {
        font-size: 30px;
      }
    }
  }
}
