$popup_transition: 0.5s;

.body {
  &.locked {
    overflow-x: hidden;
    overflow-y: hidden;
    .section--hero .animated-ring {
      display: none;
    }
  }
}

.backdrop {
  transform: translateZ(0);
  will-change: opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;

  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 20px 20px;
  backdrop-filter: blur(5px);

  transition: opacity $popup_transition ease-in-out 0s, visibility $popup_transition ease-in-out 0s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
  &:before {
    content: '';
    position: absolute;
    pointer-events: none;
    left: -20px;
    right: -20px;
    top: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background: #fff;
    opacity: 0.3;
    grid-area: 1 / 1 / 2 / 2;
    @supports (-webkit-touch-callout: none) and (-webkit-overflow-scrolling: touch) {
      content: none;
    }
  }
}

.popup {
  position: relative;
  transition: $popup_transition;
  transform: translate(0px, 50px);
  opacity: 0;
  z-index: 1;
  user-select: none;
  width: 100%;
  pointer-events: none;
  &.visible {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.popup-close {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  transform: rotate(0deg);
  transition: 0.3s;
  background: url('../img/svg/close.svg') no-repeat center center;
  z-index: 2;

  &:hover {
    transform: rotate(90deg);
  }
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 14px;
  color: var(--white);
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  pointer-events: all;
  user-select: none;
  background: var(--blue);
  border-radius: 24px;
  padding: 42px 40px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.4);

  .title {
    font-size: 32px;
    font-weight: 400;
  }

  .subtitle {
    font-size: 14px;
    margin-bottom: -10px;
  }
}
