.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 200;
  background: var(--white);
  transition: 2s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  &.hidden {
    pointer-events: none;
    opacity: 0;
    img {
      transform: scale(0);
    }
  }

  img {
    position: absolute;
    transform: scale(1);
    width: 400px;
    transition: 1.5s;
    @media (max-width: 767px) {
      width: 300px;
    }
  }
}
