:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--white);
  color: var(--black);
  overflow-x: hidden;
  overflow-y: auto;
  font-family: var(--font);
  font-optical-sizing: auto;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
}

img {
  display: block;
  object-fit: cover;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  color: inherit;
  font-family: var(--semi);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
}

ul,
menu {
  list-style: none;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  flex: 1;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100svh;
    position: fixed;
    left: 0px;
    top: 0px;
    background: url('../img/sky.webp') no-repeat center top/cover;
    //background: #eee;
  }
}

.section {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
  &.w--900 {
    max-width: 900px;
  }
}

// @supports (-webkit-touch-callout: none) and (-webkit-overflow-scrolling: touch) {
// правила для IOS на мобилках
// }
