.section--about {
  height: 100svh;

  .swiper {
    width: 100%;
    height: 100%;
    .swiper-slide {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }

      .title {
        position: absolute;
        left: 50px;
        bottom: 50px;
        color: var(--white);
        padding-right: 220px;
        @media (max-width: 767px) {
          left: 24px;
          bottom: 24px;
          font-size: 30px;
        }
      }
    }
  }
}
