.section--geography {
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
}

.geography {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 420px;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  flex: 1;
  background: #eee;
}
