.section--map {
  height: calc(100svh - 185.2px);
  min-height: 580px;
  padding: 50px 0px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    pointer-events: none;
  }
}

.contacts {
  display: flex;
  position: relative;
  width: 454px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 30px;
  z-index: 2;
  pointer-events: all;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  gap: 20px;
  padding: 48px 45px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);

  .button {
    flex: 1 auto;
    span {
      white-space: nowrap;
      flex-shrink: 0;
    }
  }

  h2 {
    font-family: var(--font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  address {
    display: block;
    width: 100%;
    padding: 10px 0px;
  }

  ul {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 10px;
    li {
      display: block;
      position: relative;
      width: 100%;
      min-height: 48px;
      border-top: 1px solid var(--grey);
    }

    .contact {
      display: flex;
      position: relative;
      width: 100%;
      min-height: 48px;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      gap: 10px;
      font-size: 18px;
      .phones {
        display: inline-flex;
        position: relative;
        width: auto;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        gap: 24px;
      }
      > a {
        margin-right: 10px;
      }

      .arrow-blue {
        position: relative;
        transform: translate(0px, 0px);
        transition: transform 0.3s;
        margin-left: auto;
        margin-right: 10px;
      }

      @media (hover: hover) {
        &:hover {
          .arrow-blue {
            transform: translate(10px, 0px);
          }
        }
      }
    }
  }
}

.contacts__menu {
  width: 100%;
}

#map {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: url('../img/map.webp') no-repeat center center/cover;
}

@media (max-width: 767px), (orientation: portrait) {
  .section--map {
    height: 820px;
    padding: 40px 0px;
  }
  .contacts {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 32px;
    z-index: 1000;
  }
  .contacts ul .contact .phones {
    flex-direction: column;
    padding: 5px 0px;
    gap: 4px;
  }

  .contacts address {
    font-size: 16px;
  }
}
