.section--products {
  background: var(--white);
  padding: 100px 0px;

  .products {
    position: relative;
    width: 354px;
    height: 520px;
    margin: 0 auto;
    margin-top: 40px;

    &.pet--33 {
      .swiper-slide img {
        max-height: 394px;
      }
    }

    .arrow {
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      z-index: 2;
      &[data-arrow-prev] {
        left: 0px;
      }
      &[data-arrow-next] {
        right: 0px;
      }
    }
  }

  .swiper {
    position: relative;
    width: 1770px;
    height: 520px;
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: visible;

    .swiper-wrapper {
      z-index: 1;
    }

    .swiper-slide {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      align-content: center;
      transition: 0.6s;
      opacity: 0;
      transform: translate(-80%, 0%) scale(0.8);
      will-change: transform;

      &.swiper-slide-prev {
        transform: translate(80%, 0%) scale(0.8);
      }

      &.swiper-slide-active {
        opacity: 0.4;
        transform: translate(50%, 0%) scale(0.8);
      }

      &.swiper-slide-active + .swiper-slide {
        opacity: 0.6;
        transform: translate(16%, 0%) scale(0.9);
      }

      &.swiper-slide-active + .swiper-slide + .swiper-slide {
        opacity: 1;
        transform: translate(0%, 0%) scale(1);
      }

      &.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide {
        opacity: 0.6;
        transform: translate(-16%, 0%) scale(0.9);
      }

      &.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide {
        opacity: 0.4;
        transform: translate(-50%, 0%) scale(0.8);
      }
    }

    img {
      margin: auto;
      height: 100%;
    }
  }
}

.section--water {
  height: 800px;
  max-height: 100svh;
  background: var(--white);

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 798px;
    background: var(--white) url('../img/water.gif') no-repeat center bottom;
    background-size: 100% 800px;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  [data-tab] {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    flex: 1;
    margin-top: 40px;
    padding-bottom: 70px;
    gap: 100px;
    img {
      margin: 0 auto;
    }
  }
}

.water-text {
  max-width: 572px;
  padding: 32px 48px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.8);
}

.tab-navigation {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
  .titles {
    display: inline-flex;
    width: auto;
  }

  menu {
    display: inline-flex;
    position: relative;
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 12px;
  }
}

.tab-button {
  display: inline-flex;
  position: relative;
  width: auto;
  min-width: 180px;
  height: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 70px;
  cursor: pointer;
  background: rgb(234, 255, 227, 0.3);
  text-align: center;
  transition: background 0.3s;
  padding: 5px 32px;
  p {
    display: block;
    position: relative;
    width: 100%;
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
    font-family: var(--semi);
    color: var(--green);
    text-transform: uppercase;
    transition: color 0.3s;
    pointer-events: none;
  }
  span {
    display: block;
    position: relative;
    top: 2px;
    width: 100%;
    color: var(--black);
    font-size: 12px;
    line-height: 1.4;
    pointer-events: none;
  }
  &.active {
    background: var(--green);
    p {
      color: var(--white);
    }
  }
}

.water-menu {
  .tab-button {
    p {
      color: var(--blue);
    }
    &.active {
      background: var(--green-dark);
      p {
        color: var(--white);
      }
    }
    &.blue.active {
      background: var(--blue);
      p {
        color: var(--white);
      }
    }
  }
}
