.swiper {
  width: 100%;
}

.arrows {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  z-index: 10;

  &.arrows--white {
    position: absolute;
    right: 50px;
    bottom: 50px;
    gap: 36px;
    .arrow {
      width: 48px;
      height: 40px;
      border-radius: 0px;

      &[data-arrow-prev] {
        background: url('../img/svg/arrow-prev-white.svg') no-repeat center center/cover;
      }
      &[data-arrow-next] {
        background: url('../img/svg/arrow-next-white.svg') no-repeat center center/cover;
      }
    }
    @media (max-width: 767px) {
      right: 24px;
      bottom: 24px;
      gap: 16px;
      .arrow {
        width: 32px;
        &[data-arrow-prev] {
          background: url('../img/svg/arrow-prev-white-mobil.svg') no-repeat center center/cover;
        }
        &[data-arrow-next] {
          background: url('../img/svg/arrow-next-white-mobil.svg') no-repeat center center/cover;
        }
      }
    }
  }
}

.arrow {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;

  &[data-arrow-prev] {
    background: url('../img/svg/arrow-prev.svg') no-repeat center center/cover;
  }
  &[data-arrow-next] {
    background: url('../img/svg/arrow-next.svg') no-repeat center center/cover;
  }
}
