:root {
  --font: 'notosans', sans-serif;
  --semi: 'notosans-semicondenced', sans-serif;

  --white: #ffffff;
  --black: #1e222b;
  --blue: #64aae1;
  --green: #99d866;
  --green-dark: #96c79b;
  --invalid: #ec1d2f;
  --grey: #d9d9d9;
  --grey-dark: rgba(0, 0, 0, 0.4);
}

@import 'fonts';
@import 'mixins';
@import 'animations';
@import 'preloader';
@import 'reset';
@import 'parallax';
@import 'swiper';
@import 'tabs';
@import 'header';
@import 'buttons';
@import 'typography';
@import 'forms';
@import 'footer';
@import 'popup';
@import 'section__hero';
@import 'section__map';
@import 'section__about';
@import 'section__products';
@import 'section__parallax';
@import 'section__geography';
